{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "POMI Data API",
    "description": "Public university data normalized by POMI"
  },
  "servers": [
    {
      "url": "https://data.pomi.ominira.dev",
      "description": "POMI Data API"
    }
  ],
  "components": {
    "schemas": {
      "UnitEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "code",
          "name"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Unit",
          "identityFields": [
            "id"
          ]
        }
      },
      "InvalidRequestProblem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "urn:pomi:problem:invalid-request"
            ]
          },
          "title": {
            "type": "string",
            "enum": [
              "Dados da requisição inválidos"
            ]
          },
          "status": {
            "type": "number",
            "enum": [
              400
            ]
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProblemField"
            }
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "fields"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "problem",
          "publicName": "InvalidRequestProblem"
        }
      },
      "ProblemField": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "code",
          "path",
          "message"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "problem",
          "publicName": "ProblemField"
        }
      },
      "ResourceNotFoundProblem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "urn:pomi:problem:resource-not-found"
            ]
          },
          "title": {
            "type": "string",
            "enum": [
              "Recurso não encontrado"
            ]
          },
          "status": {
            "type": "number",
            "enum": [
              404
            ]
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "problem",
          "publicName": "ResourceNotFoundProblem"
        }
      },
      "ServerErrorProblem": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/InternalServerErrorProblem"
          },
          {
            "$ref": "#/components/schemas/InconsistentResourceStateProblem"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "urn:pomi:problem:internal-server-error": "#/components/schemas/InternalServerErrorProblem",
            "urn:pomi:problem:inconsistent-resource-state": "#/components/schemas/InconsistentResourceStateProblem"
          }
        },
        "x-pomi-schema": {
          "kind": "problem",
          "publicName": "ServerErrorProblem"
        }
      },
      "InternalServerErrorProblem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "urn:pomi:problem:internal-server-error"
            ]
          },
          "title": {
            "type": "string",
            "enum": [
              "Não foi possível concluir a ação"
            ]
          },
          "status": {
            "type": "number",
            "enum": [
              500
            ]
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "problem",
          "publicName": "InternalServerErrorProblem"
        }
      },
      "InconsistentResourceStateProblem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "urn:pomi:problem:inconsistent-resource-state"
            ]
          },
          "title": {
            "type": "string",
            "enum": [
              "Estado interno do recurso inconsistente"
            ]
          },
          "status": {
            "type": "number",
            "enum": [
              500
            ]
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "problem",
          "publicName": "InconsistentResourceStateProblem"
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri-reference"
          },
          "first": {
            "type": "string",
            "format": "uri-reference"
          },
          "last": {
            "type": "string",
            "format": "uri-reference"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "format": "uri-reference"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "format": "uri-reference"
          }
        },
        "required": [
          "self",
          "first",
          "last",
          "next",
          "previous"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "transport",
          "publicName": "PaginationLinks",
          "generate": false
        }
      },
      "CourseEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador estável da disciplina no POMI.",
            "example": 732
          },
          "code": {
            "type": "string",
            "minLength": 1,
            "description": "Código institucional da disciplina.",
            "example": "MC732"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Nome normalizado da disciplina.",
            "example": "Programação Concorrente"
          },
          "credits": {
            "type": "integer",
            "minimum": 0,
            "description": "Quantidade de créditos acadêmicos.",
            "example": 4
          },
          "prefix": {
            "type": "string",
            "minLength": 1,
            "description": "Prefixo alfabético extraído do código.",
            "example": "MC"
          },
          "unitId": {
            "type": "integer",
            "nullable": true,
            "description": "Identificador da unidade responsável, quando conhecida.",
            "example": 1
          },
          "unitCode": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "description": "Sigla da unidade responsável, quando conhecida.",
            "example": "IC"
          }
        },
        "required": [
          "id",
          "code",
          "name",
          "credits",
          "prefix",
          "unitId",
          "unitCode"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Course",
          "identityFields": [
            "id"
          ]
        }
      },
      "PageCourses": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseEntity"
            }
          },
          "quantity": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        },
        "required": [
          "data",
          "quantity",
          "total",
          "links"
        ],
        "x-pomi-schema": {
          "kind": "page",
          "publicName": "PageCourses"
        }
      },
      "ProfessorEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Professor",
          "identityFields": [
            "id"
          ]
        }
      },
      "PageProfessors": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfessorEntity"
            }
          },
          "quantity": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        },
        "required": [
          "data",
          "quantity",
          "total",
          "links"
        ],
        "x-pomi-schema": {
          "kind": "page",
          "publicName": "PageProfessors"
        }
      },
      "ProfessorDataPortalProfileSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "professorId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "portalId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "lattesAbstract": {
            "type": "string",
            "nullable": true
          },
          "unit": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "code",
              "name"
            ],
            "additionalProperties": false
          },
          "department": {
            "$ref": "#/components/schemas/Department"
          },
          "position": {
            "$ref": "#/components/schemas/ProfessorPosition"
          }
        },
        "required": [
          "id",
          "professorId",
          "portalId",
          "name",
          "email",
          "lattesAbstract",
          "unit",
          "department",
          "position"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "projection",
          "publicName": "ProfessorDataPortalProfileSummary"
        }
      },
      "Department": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          },
          "unitId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          }
        },
        "required": [
          "id",
          "name",
          "unitId"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Department",
          "identityFields": [
            "id"
          ]
        }
      },
      "ProfessorPosition": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "canonicalKey": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "affiliation": {
            "$ref": "#/components/schemas/AcademicPositionAffiliation"
          }
        },
        "required": [
          "id",
          "canonicalKey",
          "role",
          "affiliation"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "ProfessorPosition",
          "identityFields": [
            "id"
          ]
        }
      },
      "AcademicPositionAffiliation": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CareerAcademicPositionAffiliation"
          },
          {
            "$ref": "#/components/schemas/CollaboratorAcademicPositionAffiliation"
          },
          {
            "$ref": "#/components/schemas/SeniorAcademicPositionAffiliation"
          },
          {
            "$ref": "#/components/schemas/VisitingInvitedAcademicPositionAffiliation"
          },
          {
            "$ref": "#/components/schemas/VisitingSpecialistAcademicPositionAffiliation"
          },
          {
            "$ref": "#/components/schemas/PostdoctoralProgramAcademicPositionAffiliation"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "CAREER": "#/components/schemas/CareerAcademicPositionAffiliation",
            "COLLABORATOR": "#/components/schemas/CollaboratorAcademicPositionAffiliation",
            "SENIOR": "#/components/schemas/SeniorAcademicPositionAffiliation",
            "VISITING_INVITED": "#/components/schemas/VisitingInvitedAcademicPositionAffiliation",
            "VISITING_SPECIALIST": "#/components/schemas/VisitingSpecialistAcademicPositionAffiliation",
            "POSTDOCTORAL_PROGRAM": "#/components/schemas/PostdoctoralProgramAcademicPositionAffiliation"
          }
        },
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "AcademicPositionAffiliation"
        }
      },
      "CareerAcademicPositionAffiliation": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CAREER"
            ]
          },
          "career": {
            "$ref": "#/components/schemas/CareerAcademicPositionAffiliationDetails"
          }
        },
        "required": [
          "type",
          "career"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "CareerAcademicPositionAffiliation"
        }
      },
      "CareerAcademicPositionAffiliationDetails": {
        "type": "object",
        "properties": {
          "reference": {
            "$ref": "#/components/schemas/CareerReference"
          }
        },
        "required": [
          "reference"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "CareerAcademicPositionAffiliationDetails"
        }
      },
      "CareerReference": {
        "type": "object",
        "properties": {
          "career": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "rank": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "progressionOrder": {
            "type": "integer"
          }
        },
        "required": [
          "career",
          "code",
          "rank",
          "category",
          "progressionOrder"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "CareerReference"
        }
      },
      "CollaboratorAcademicPositionAffiliation": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "COLLABORATOR"
            ]
          }
        },
        "required": [
          "type"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "CollaboratorAcademicPositionAffiliation"
        }
      },
      "SeniorAcademicPositionAffiliation": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "SENIOR"
            ]
          },
          "senior": {
            "$ref": "#/components/schemas/SeniorAcademicPositionAffiliationDetails"
          }
        },
        "required": [
          "type",
          "senior"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "SeniorAcademicPositionAffiliation"
        }
      },
      "SeniorAcademicPositionAffiliationDetails": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/GeneralSeniorAcademicPositionAffiliation"
          },
          {
            "$ref": "#/components/schemas/CareerSeniorAcademicPositionAffiliation"
          }
        ],
        "discriminator": {
          "propertyName": "kind",
          "mapping": {
            "GENERAL": "#/components/schemas/GeneralSeniorAcademicPositionAffiliation",
            "CAREER": "#/components/schemas/CareerSeniorAcademicPositionAffiliation"
          }
        },
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "SeniorAcademicPositionAffiliationDetails"
        }
      },
      "GeneralSeniorAcademicPositionAffiliation": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "GENERAL"
            ]
          }
        },
        "required": [
          "kind"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "GeneralSeniorAcademicPositionAffiliation"
        }
      },
      "CareerSeniorAcademicPositionAffiliation": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "CAREER"
            ]
          },
          "career": {
            "$ref": "#/components/schemas/CareerAcademicPositionAffiliationDetails"
          },
          "programCode": {
            "type": "string"
          }
        },
        "required": [
          "kind",
          "career",
          "programCode"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "CareerSeniorAcademicPositionAffiliation"
        }
      },
      "VisitingInvitedAcademicPositionAffiliation": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "VISITING_INVITED"
            ]
          }
        },
        "required": [
          "type"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "VisitingInvitedAcademicPositionAffiliation"
        }
      },
      "VisitingSpecialistAcademicPositionAffiliation": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "VISITING_SPECIALIST"
            ]
          },
          "visitingSpecialist": {
            "$ref": "#/components/schemas/VisitingSpecialistAcademicPositionAffiliationDetails"
          }
        },
        "required": [
          "type",
          "visitingSpecialist"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "VisitingSpecialistAcademicPositionAffiliation"
        }
      },
      "VisitingSpecialistAcademicPositionAffiliationDetails": {
        "type": "object",
        "properties": {
          "programCode": {
            "type": "string"
          }
        },
        "required": [
          "programCode"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "VisitingSpecialistAcademicPositionAffiliationDetails"
        }
      },
      "PostdoctoralProgramAcademicPositionAffiliation": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "POSTDOCTORAL_PROGRAM"
            ]
          },
          "postdoctoralProgram": {
            "$ref": "#/components/schemas/PostdoctoralProgramAcademicPositionAffiliationDetails"
          }
        },
        "required": [
          "type",
          "postdoctoralProgram"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "PostdoctoralProgramAcademicPositionAffiliation"
        }
      },
      "PostdoctoralProgramAcademicPositionAffiliationDetails": {
        "type": "object",
        "properties": {
          "modality": {
            "type": "string"
          },
          "programCode": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "modality",
          "programCode"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "PostdoctoralProgramAcademicPositionAffiliationDetails"
        }
      },
      "ProfessorDataPortalProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "professorId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "portalId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "lattesAbstract": {
            "type": "string",
            "nullable": true
          },
          "unit": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "code",
              "name"
            ],
            "additionalProperties": false
          },
          "department": {
            "$ref": "#/components/schemas/Department"
          },
          "position": {
            "$ref": "#/components/schemas/ProfessorPosition"
          },
          "identifiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "system": {
                  "type": "string"
                },
                "externalId": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "system",
                "externalId"
              ],
              "additionalProperties": false
            }
          },
          "citationNames": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ],
              "additionalProperties": false
            }
          },
          "trainings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "degree": {
                  "type": "string"
                },
                "institutionName": {
                  "type": "string"
                },
                "startYear": {
                  "type": "integer",
                  "nullable": true
                },
                "endYear": {
                  "type": "integer",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "degree",
                "institutionName",
                "startYear",
                "endYear"
              ],
              "additionalProperties": false
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "name",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "coauthors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "name",
                "count"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "id",
          "professorId",
          "portalId",
          "name",
          "email",
          "lattesAbstract",
          "unit",
          "department",
          "position",
          "identifiers",
          "citationNames",
          "trainings",
          "keywords",
          "coauthors"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "ProfessorDataPortalProfile",
          "identityFields": [
            "id"
          ]
        }
      },
      "Keyword": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Keyword",
          "identityFields": [
            "id"
          ]
        }
      },
      "Coauthor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Coauthor",
          "identityFields": [
            "id"
          ]
        }
      },
      "RoomEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "code"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Room",
          "identityFields": [
            "id"
          ]
        }
      },
      "Catalog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "year": {
            "type": "integer",
            "example": 2024
          },
          "programsCount": {
            "type": "integer",
            "example": 5
          },
          "coursesCount": {
            "type": "integer",
            "example": 8996
          },
          "programIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              1,
              2,
              3
            ]
          }
        },
        "required": [
          "id",
          "year",
          "programsCount",
          "coursesCount",
          "programIds"
        ],
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Catalog",
          "identityFields": [
            "id"
          ]
        }
      },
      "CatalogCourseEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador da representação da disciplina no catálogo.",
            "example": 7322025
          },
          "catalogId": {
            "type": "integer",
            "description": "Identificador do catálogo acadêmico.",
            "example": 2025
          },
          "catalogYear": {
            "type": "integer",
            "description": "Ano de vigência do catálogo.",
            "example": 2025
          },
          "courseId": {
            "type": "integer",
            "description": "Identificador da disciplina normalizada relacionada.",
            "example": 732
          },
          "code": {
            "type": "string",
            "minLength": 1,
            "description": "Código institucional da disciplina nesse catálogo.",
            "example": "MC732"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Nome publicado para a disciplina nesse catálogo.",
            "example": "Programação Concorrente"
          },
          "credits": {
            "type": "integer",
            "minimum": 0,
            "description": "Quantidade de créditos no contexto do catálogo.",
            "example": 4
          },
          "coordinator": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "id",
              "name"
            ],
            "additionalProperties": false
          },
          "workload": {
            "type": "object",
            "properties": {
              "theoreticalHours": {
                "type": "integer",
                "nullable": true
              },
              "practicalHours": {
                "type": "integer",
                "nullable": true
              },
              "laboratoryHours": {
                "type": "integer",
                "nullable": true
              },
              "guidedActivityHours": {
                "type": "integer",
                "nullable": true
              },
              "distanceHours": {
                "type": "integer",
                "nullable": true
              },
              "guidedExtensionHours": {
                "type": "integer",
                "nullable": true
              },
              "practicalExtensionHours": {
                "type": "integer",
                "nullable": true
              },
              "weeks": {
                "type": "integer",
                "nullable": true
              },
              "weeklyClassHours": {
                "type": "integer",
                "nullable": true
              },
              "classroomHours": {
                "type": "integer",
                "nullable": true
              }
            },
            "required": [
              "theoreticalHours",
              "practicalHours",
              "laboratoryHours",
              "guidedActivityHours",
              "distanceHours",
              "guidedExtensionHours",
              "practicalExtensionHours",
              "weeks",
              "weeklyClassHours",
              "classroomHours"
            ],
            "additionalProperties": false
          },
          "offeringPeriod": {
            "$ref": "#/components/schemas/CourseOfferingPeriod"
          },
          "evaluation": {
            "$ref": "#/components/schemas/CourseEvaluationMode"
          },
          "finalExam": {
            "type": "boolean",
            "nullable": true
          },
          "minimumAttendancePercent": {
            "type": "integer",
            "nullable": true
          },
          "syllabus": {
            "type": "string",
            "nullable": true
          },
          "bibliography": {
            "type": "string",
            "nullable": true
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true
          },
          "prerequisites": {
            "type": "object",
            "properties": {
              "any": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "all": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogCoursePrerequisiteItem"
                      }
                    }
                  },
                  "required": [
                    "all"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "any"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "catalogId",
          "catalogYear",
          "courseId",
          "code",
          "name",
          "credits",
          "coordinator",
          "workload",
          "offeringPeriod",
          "evaluation",
          "finalExam",
          "minimumAttendancePercent",
          "syllabus",
          "bibliography",
          "sourceUrl",
          "prerequisites"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "CatalogCourse",
          "identityFields": [
            "id"
          ]
        }
      },
      "CourseOfferingPeriod": {
        "type": "string",
        "nullable": true,
        "enum": [
          "ALL_PERIODS",
          "ODD_PERIODS",
          "EVEN_PERIODS",
          "UNIT_DISCRETION",
          null
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "CourseOfferingPeriod"
        }
      },
      "CourseEvaluationMode": {
        "type": "string",
        "nullable": true,
        "enum": [
          "GRADE_AND_ATTENDANCE",
          "ATTENDANCE",
          "CONCEPT",
          null
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "CourseEvaluationMode"
        }
      },
      "CatalogCoursePrerequisiteItem": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CourseCatalogCoursePrerequisite"
          },
          {
            "$ref": "#/components/schemas/SpecialRequirementCatalogCoursePrerequisite"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "COURSE": "#/components/schemas/CourseCatalogCoursePrerequisite",
            "SPECIAL_REQUIREMENT": "#/components/schemas/SpecialRequirementCatalogCoursePrerequisite"
          }
        },
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "CatalogCoursePrerequisiteItem"
        }
      },
      "CourseCatalogCoursePrerequisite": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "COURSE"
            ]
          },
          "course": {
            "$ref": "#/components/schemas/CatalogCoursePrerequisiteCourseDetails"
          }
        },
        "required": [
          "type",
          "course"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "CourseCatalogCoursePrerequisite"
        }
      },
      "CatalogCoursePrerequisiteCourseDetails": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "integer",
            "nullable": true
          },
          "fulfillment": {
            "$ref": "#/components/schemas/CatalogCoursePrerequisiteFulfillment"
          }
        },
        "required": [
          "courseId",
          "fulfillment"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "CatalogCoursePrerequisiteCourseDetails"
        }
      },
      "CatalogCoursePrerequisiteFulfillment": {
        "type": "string",
        "enum": [
          "FULL",
          "PARTIAL"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "CatalogCoursePrerequisiteFulfillment"
        }
      },
      "SpecialRequirementCatalogCoursePrerequisite": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "SPECIAL_REQUIREMENT"
            ]
          },
          "specialRequirement": {
            "$ref": "#/components/schemas/CatalogCourseSpecialRequirement"
          }
        },
        "required": [
          "type",
          "specialRequirement"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "SpecialRequirementCatalogCoursePrerequisite"
        }
      },
      "CatalogCourseSpecialRequirement": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/AuthorizationSpecialRequirement"
          },
          {
            "$ref": "#/components/schemas/ProgressionCoefficientSpecialRequirement"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "AUTHORIZATION": "#/components/schemas/AuthorizationSpecialRequirement",
            "PROGRESSION_COEFFICIENT": "#/components/schemas/ProgressionCoefficientSpecialRequirement"
          }
        },
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "CatalogCourseSpecialRequirement"
        }
      },
      "AuthorizationSpecialRequirement": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "AUTHORIZATION"
            ]
          }
        },
        "required": [
          "type"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "AuthorizationSpecialRequirement"
        }
      },
      "ProgressionCoefficientSpecialRequirement": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "PROGRESSION_COEFFICIENT"
            ]
          },
          "progressionCoefficient": {
            "$ref": "#/components/schemas/ProgressionCoefficientSpecialRequirementDetails"
          }
        },
        "required": [
          "type",
          "progressionCoefficient"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "ProgressionCoefficientSpecialRequirement"
        }
      },
      "ProgressionCoefficientSpecialRequirementDetails": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          }
        },
        "required": [
          "value"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "ProgressionCoefficientSpecialRequirementDetails"
        }
      },
      "CoordinatorEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "catalogCoursesCount": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name",
          "catalogCoursesCount"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Coordinator",
          "identityFields": [
            "id"
          ]
        }
      },
      "CatalogProgramEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "catalogId": {
            "type": "integer"
          },
          "programId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "catalogYear": {
            "type": "integer"
          },
          "programCode": {
            "type": "integer"
          },
          "programName": {
            "type": "string"
          },
          "shift": {
            "type": "string",
            "nullable": true,
            "enum": [
              "DAYTIME",
              "NIGHT",
              null
            ]
          },
          "creditLimitType": {
            "type": "string",
            "nullable": true,
            "enum": [
              "NONE",
              "FIXED",
              "CR_FORMULA",
              null
            ]
          },
          "creditLimitFixedCredits": {
            "type": "integer",
            "nullable": true
          },
          "creditLimitBeforeThresholdCredits": {
            "type": "integer",
            "nullable": true
          },
          "creditLimitThresholdCredits": {
            "type": "integer",
            "nullable": true
          },
          "creditLimitCrBase": {
            "type": "integer",
            "nullable": true
          },
          "creditLimitCrMultiplier": {
            "type": "number",
            "nullable": true
          },
          "professionalPracticeDescription": {
            "type": "string",
            "nullable": true
          },
          "base": {
            "$ref": "#/components/schemas/CourseBlockSet"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogProgramVariant"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogProgramLanguage"
            }
          }
        },
        "required": [
          "id",
          "catalogId",
          "programId",
          "title",
          "catalogYear",
          "programCode",
          "programName",
          "shift",
          "creditLimitType",
          "creditLimitFixedCredits",
          "creditLimitBeforeThresholdCredits",
          "creditLimitThresholdCredits",
          "creditLimitCrBase",
          "creditLimitCrMultiplier",
          "professionalPracticeDescription",
          "base",
          "variants",
          "languages"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "CatalogProgram",
          "identityFields": [
            "id"
          ],
          "relations": {
            "catalogId": {
              "resource": "catalogs",
              "cardinality": "one"
            },
            "programId": {
              "resource": "programs",
              "cardinality": "one"
            },
            "variants": {
              "resource": "catalogProgramVariants",
              "cardinality": "many"
            },
            "languages": {
              "resource": "languages",
              "cardinality": "many"
            }
          }
        }
      },
      "CourseBlockSet": {
        "type": "object",
        "properties": {
          "mandatory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseRequirement"
            }
          },
          "electives": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ElectiveBlock"
            }
          }
        },
        "required": [
          "mandatory",
          "electives"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "CourseBlockSet"
        }
      },
      "CourseRequirement": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/AnyCourseRequirement"
          },
          {
            "$ref": "#/components/schemas/PrefixCourseRequirement"
          },
          {
            "$ref": "#/components/schemas/SpecificCourseRequirement"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "any": "#/components/schemas/AnyCourseRequirement",
            "prefix": "#/components/schemas/PrefixCourseRequirement",
            "specific": "#/components/schemas/SpecificCourseRequirement"
          }
        },
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "CourseRequirement",
          "identityFields": [
            "id"
          ]
        }
      },
      "AnyCourseRequirement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "any"
            ]
          }
        },
        "required": [
          "id",
          "type"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "AnyCourseRequirement",
          "identityFields": [
            "id"
          ]
        }
      },
      "PrefixCourseRequirement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "prefix"
            ]
          },
          "prefix": {
            "$ref": "#/components/schemas/PrefixCourseRequirementDetails"
          }
        },
        "required": [
          "id",
          "type",
          "prefix"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "PrefixCourseRequirement",
          "identityFields": [
            "id"
          ]
        }
      },
      "PrefixCourseRequirementDetails": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "value"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "PrefixCourseRequirementDetails"
        }
      },
      "SpecificCourseRequirement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "specific"
            ]
          },
          "specific": {
            "$ref": "#/components/schemas/SpecificCourseRequirementDetails"
          }
        },
        "required": [
          "id",
          "type",
          "specific"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "SpecificCourseRequirement",
          "identityFields": [
            "id"
          ]
        }
      },
      "SpecificCourseRequirementDetails": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "integer"
          },
          "courseCode": {
            "type": "string"
          },
          "courseName": {
            "type": "string"
          },
          "catalogCourseId": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "courseId",
          "courseCode",
          "courseName",
          "catalogCourseId"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "SpecificCourseRequirementDetails",
          "relations": {
            "catalogCourseId": {
              "resource": "catalogCourses",
              "cardinality": "one",
              "nullable": true
            }
          }
        }
      },
      "ElectiveBlock": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "integer"
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseRequirement"
            }
          }
        },
        "required": [
          "credits",
          "courses"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "ElectiveBlock"
        }
      },
      "CatalogProgramVariant": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ProgramCatalogProgramVariant"
          },
          {
            "$ref": "#/components/schemas/SpecializationCatalogProgramVariant"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "PROGRAM": "#/components/schemas/ProgramCatalogProgramVariant",
            "SPECIALIZATION": "#/components/schemas/SpecializationCatalogProgramVariant"
          }
        },
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "CatalogProgramVariant"
        }
      },
      "ProgramCatalogProgramVariant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "curriculumSuggestionId": {
            "type": "integer",
            "nullable": true
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "integralizationCredits": {
            "type": "integer",
            "nullable": true
          },
          "integralizationSupervisedHours": {
            "type": "integer",
            "nullable": true
          },
          "integralizationExtensionHours": {
            "type": "integer",
            "nullable": true
          },
          "integralizationSemesters": {
            "type": "integer",
            "nullable": true
          },
          "integralizationMaximumSemesters": {
            "type": "integer",
            "nullable": true
          },
          "professionalDescription": {
            "type": "string",
            "nullable": true
          },
          "recognitionDescription": {
            "type": "string",
            "nullable": true
          },
          "blocks": {
            "$ref": "#/components/schemas/CourseBlockSet"
          },
          "type": {
            "type": "string",
            "enum": [
              "PROGRAM"
            ]
          },
          "program": {
            "type": "object",
            "properties": {
              "programId": {
                "type": "integer"
              }
            },
            "required": [
              "programId"
            ]
          }
        },
        "required": [
          "id",
          "curriculumSuggestionId",
          "code",
          "name",
          "integralizationCredits",
          "integralizationSupervisedHours",
          "integralizationExtensionHours",
          "integralizationSemesters",
          "integralizationMaximumSemesters",
          "professionalDescription",
          "recognitionDescription",
          "blocks",
          "type",
          "program"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "ProgramCatalogProgramVariant",
          "identityFields": [
            "id"
          ],
          "relations": {
            "curriculumSuggestionId": {
              "resource": "curriculumSuggestions",
              "cardinality": "one",
              "nullable": true
            }
          }
        }
      },
      "SpecializationCatalogProgramVariant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "curriculumSuggestionId": {
            "type": "integer",
            "nullable": true
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "integralizationCredits": {
            "type": "integer",
            "nullable": true
          },
          "integralizationSupervisedHours": {
            "type": "integer",
            "nullable": true
          },
          "integralizationExtensionHours": {
            "type": "integer",
            "nullable": true
          },
          "integralizationSemesters": {
            "type": "integer",
            "nullable": true
          },
          "integralizationMaximumSemesters": {
            "type": "integer",
            "nullable": true
          },
          "professionalDescription": {
            "type": "string",
            "nullable": true
          },
          "recognitionDescription": {
            "type": "string",
            "nullable": true
          },
          "blocks": {
            "$ref": "#/components/schemas/CourseBlockSet"
          },
          "type": {
            "type": "string",
            "enum": [
              "SPECIALIZATION"
            ]
          },
          "specialization": {
            "type": "object",
            "properties": {
              "specializationId": {
                "type": "integer"
              }
            },
            "required": [
              "specializationId"
            ]
          }
        },
        "required": [
          "id",
          "curriculumSuggestionId",
          "code",
          "name",
          "integralizationCredits",
          "integralizationSupervisedHours",
          "integralizationExtensionHours",
          "integralizationSemesters",
          "integralizationMaximumSemesters",
          "professionalDescription",
          "recognitionDescription",
          "blocks",
          "type",
          "specialization"
        ],
        "x-pomi-schema": {
          "kind": "variant",
          "publicName": "SpecializationCatalogProgramVariant",
          "identityFields": [
            "id"
          ],
          "relations": {
            "curriculumSuggestionId": {
              "resource": "curriculumSuggestions",
              "cardinality": "one",
              "nullable": true
            }
          }
        }
      },
      "CatalogProgramLanguage": {
        "type": "object",
        "properties": {
          "languageId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "blocks": {
            "$ref": "#/components/schemas/CourseBlockSet"
          }
        },
        "required": [
          "languageId",
          "name",
          "blocks"
        ],
        "x-pomi-schema": {
          "kind": "projection",
          "publicName": "CatalogProgramLanguage"
        }
      },
      "CurriculumSuggestionEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "catalogProgramVariantId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "catalogProgramId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "catalogYear": {
            "type": "integer",
            "minimum": 1900,
            "maximum": 2100
          },
          "programId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "programCode": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "programName": {
            "type": "string",
            "minLength": 1
          },
          "specialization": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "code": {
                "type": "string",
                "minLength": 1
              },
              "name": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "id",
              "code",
              "name"
            ],
            "additionalProperties": false
          },
          "semesters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SemesterSuggestionEntity"
            }
          }
        },
        "required": [
          "id",
          "catalogProgramVariantId",
          "catalogProgramId",
          "catalogYear",
          "programId",
          "programCode",
          "programName",
          "specialization",
          "semesters"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "CurriculumSuggestion",
          "identityFields": [
            "id"
          ]
        }
      },
      "SemesterSuggestionEntity": {
        "type": "object",
        "properties": {
          "semester": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "electiveCredits": {
            "type": "integer",
            "minimum": 0
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CurriculumSuggestionCourseEntity"
            }
          }
        },
        "required": [
          "semester",
          "electiveCredits",
          "courses"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "SemesterSuggestion"
        }
      },
      "CurriculumSuggestionCourseEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "code": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "credits": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "id",
          "code",
          "name",
          "credits"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "CurriculumSuggestionCourse",
          "identityFields": [
            "id"
          ]
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "catalogLanguagesCount": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name",
          "catalogLanguagesCount"
        ],
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Language",
          "identityFields": [
            "id"
          ]
        }
      },
      "Program": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "unitId": {
            "type": "integer"
          },
          "unit": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "code": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "code"
            ]
          },
          "catalogProgramsCount": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "code",
          "name",
          "unitId",
          "unit",
          "catalogProgramsCount"
        ],
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Program",
          "identityFields": [
            "id"
          ]
        }
      },
      "Specialization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "programId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "programCode": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "programName": {
            "type": "string",
            "minLength": 1
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "catalogProgramVariantsCount": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "programId",
          "programCode",
          "programName",
          "code",
          "name",
          "catalogProgramVariantsCount"
        ],
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Specialization",
          "identityFields": [
            "id"
          ]
        }
      },
      "ExchangeNotice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "issuer": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "place": {
            "$ref": "#/components/schemas/ExchangePlace"
          },
          "registrationOriginalText": {
            "type": "string",
            "nullable": true
          },
          "registrationStart": {
            "type": "string",
            "nullable": true,
            "format": "date"
          },
          "registrationEnd": {
            "type": "string",
            "nullable": true,
            "format": "date"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExchangeNoticeFile"
            }
          }
        },
        "required": [
          "id",
          "number",
          "issuer",
          "title",
          "place",
          "registrationOriginalText",
          "registrationStart",
          "registrationEnd",
          "files"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "ExchangeNotice",
          "identityFields": [
            "id"
          ]
        }
      },
      "ExchangePlace": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "ExchangePlace",
          "identityFields": [
            "id"
          ]
        }
      },
      "ExchangeNoticeFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          }
        },
        "required": [
          "id",
          "name",
          "url"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "ExchangeNoticeFile",
          "identityFields": [
            "id"
          ]
        }
      },
      "ExchangePlaceListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "projection",
          "publicName": "ExchangePlaceListItem"
        }
      },
      "CalendarEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "endDate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "nullable": true
              }
            ]
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "id",
          "startDate",
          "endDate",
          "description",
          "tags"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "CalendarEvent",
          "identityFields": [
            "id"
          ]
        }
      },
      "CalendarTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "CalendarTag",
          "identityFields": [
            "id"
          ]
        }
      },
      "ClassEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "reservationPrograms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "code": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "code",
                "name"
              ],
              "additionalProperties": false
            }
          },
          "courseId": {
            "type": "integer"
          },
          "studyPeriodId": {
            "type": "integer"
          },
          "professorIds": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "studyPeriodYear": {
            "type": "integer"
          },
          "studyPeriodYearPeriod": {
            "$ref": "#/components/schemas/YearPeriod"
          },
          "courseCode": {
            "type": "string"
          },
          "unitId": {
            "type": "integer",
            "nullable": true
          },
          "unitCode": {
            "type": "string",
            "nullable": true
          },
          "professors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "id",
          "code",
          "reservationPrograms",
          "courseId",
          "studyPeriodId",
          "professorIds",
          "studyPeriodYear",
          "studyPeriodYearPeriod",
          "courseCode",
          "unitId",
          "unitCode",
          "professors"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Class",
          "identityFields": [
            "id"
          ]
        }
      },
      "YearPeriod": {
        "type": "string",
        "enum": [
          "SUMMER",
          "FIRST_SEMESTER",
          "WINTER",
          "SECOND_SEMESTER"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "YearPeriod"
        }
      },
      "ClassScheduleEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "dayOfWeek": {
            "$ref": "#/components/schemas/DayOfWeek"
          },
          "start": {
            "type": "string"
          },
          "end": {
            "type": "string"
          },
          "roomId": {
            "type": "integer"
          },
          "classId": {
            "type": "integer"
          },
          "roomCode": {
            "type": "string"
          },
          "classCode": {
            "type": "string"
          },
          "unitId": {
            "type": "integer",
            "nullable": true
          },
          "unitCode": {
            "type": "string",
            "nullable": true
          },
          "courseId": {
            "type": "integer"
          },
          "courseCode": {
            "type": "string"
          },
          "studyPeriodId": {
            "type": "integer"
          },
          "studyPeriodYear": {
            "type": "integer"
          },
          "studyPeriodYearPeriod": {
            "$ref": "#/components/schemas/YearPeriod"
          }
        },
        "required": [
          "id",
          "dayOfWeek",
          "start",
          "end",
          "roomId",
          "classId",
          "roomCode",
          "classCode",
          "unitId",
          "unitCode",
          "courseId",
          "courseCode",
          "studyPeriodId",
          "studyPeriodYear",
          "studyPeriodYearPeriod"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "ClassSchedule",
          "identityFields": [
            "id"
          ],
          "relations": {
            "roomId": {
              "resource": "rooms",
              "cardinality": "one"
            },
            "classId": {
              "resource": "classes",
              "cardinality": "one"
            },
            "unitId": {
              "resource": "units",
              "cardinality": "one",
              "nullable": true
            },
            "courseId": {
              "resource": "courses",
              "cardinality": "one"
            },
            "studyPeriodId": {
              "resource": "studyPeriods",
              "cardinality": "one"
            }
          }
        }
      },
      "DayOfWeek": {
        "type": "string",
        "enum": [
          "MONDAY",
          "TUESDAY",
          "WEDNESDAY",
          "THURSDAY",
          "FRIDAY",
          "SATURDAY",
          "SUNDAY"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "DayOfWeek"
        }
      },
      "PageClassSchedules": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClassScheduleEntity"
            }
          },
          "quantity": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        },
        "required": [
          "data",
          "quantity",
          "total",
          "links"
        ],
        "x-pomi-schema": {
          "kind": "page",
          "publicName": "PageClassSchedules"
        }
      },
      "DailyMenu": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "meals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meal"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "date",
          "meals",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "DailyMenu",
          "identityFields": [
            "id"
          ]
        }
      },
      "Meal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "period": {
            "$ref": "#/components/schemas/MealPeriod"
          },
          "diet": {
            "$ref": "#/components/schemas/MealDiet"
          },
          "status": {
            "$ref": "#/components/schemas/MealStatus"
          },
          "mainDish": {
            "type": "string",
            "nullable": true
          },
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "observations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "serviceNotes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "period",
          "diet",
          "status",
          "mainDish",
          "items",
          "observations",
          "serviceNotes"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "Meal",
          "identityFields": [
            "id"
          ]
        }
      },
      "MealPeriod": {
        "type": "string",
        "enum": [
          "LUNCH",
          "DINNER"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "MealPeriod"
        }
      },
      "MealDiet": {
        "type": "string",
        "enum": [
          "TRADITIONAL",
          "VEGAN"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "MealDiet"
        }
      },
      "MealStatus": {
        "type": "string",
        "enum": [
          "AVAILABLE",
          "NOT_REGISTERED"
        ],
        "x-pomi-schema": {
          "kind": "value-object",
          "publicName": "MealStatus"
        }
      },
      "StudyPeriodEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "year": {
            "type": "integer"
          },
          "yearPeriod": {
            "$ref": "#/components/schemas/YearPeriod"
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          }
        },
        "required": [
          "id",
          "year",
          "yearPeriod",
          "startDate"
        ],
        "additionalProperties": false,
        "x-pomi-schema": {
          "kind": "entity",
          "publicName": "StudyPeriod",
          "identityFields": [
            "id"
          ]
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/units/{id}": {
      "get": {
        "tags": [
          "units"
        ],
        "operationId": "getUnits",
        "summary": "Consultar unidade",
        "x-pomi-sdk": {
          "resource": "units",
          "method": "get",
          "action": "get",
          "pathParameters": {
            "id": "unitId"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Unit retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitEntity"
                }
              }
            }
          },
          "400": {
            "description": "Dados da requisição inválidos",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestProblem"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFoundProblem"
                }
              }
            }
          },
          "500": {
            "description": "Não foi possível concluir a ação",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorProblem"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/units": {
      "get": {
        "tags": [
          "units"
        ],
        "operationId": "listUnits",
        "summary": "Listar unidades",
        "x-pomi-sdk": {
          "resource": "units",
          "method": "list",
          "action": "list"
        },
        "x-pomi-pagination": {
          "defaultMode": "all",
          "defaultPageSize": 20,
          "allowAll": true
        },
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number. The first page is 1."
            },
            "required": false,
            "description": "Page number. The first page is 1.",
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "string",
                  "enum": [
                    "all"
                  ]
                }
              ],
              "description": "Number of items per page, or \"all\" to return every item."
            },
            "required": false,
            "description": "Number of items per page, or \"all\" to return every item.",
            "name": "pageSize",
            "in": "query"
          },
          {
            "schema": {
              "additionalProperties": false,
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "integer"
                    },
                    {
                      "additionalProperties": false,
                      "properties": {
                        "eq": {
                          "type": "integer"
                        },
                        "in": {
                          "items": {
                            "type": "integer"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                },
                "code": {
                  "oneOf": [
                    {
                      "minLength": 1,
                      "type": "string"
                    },
                    {
                      "additionalProperties": false,
                      "properties": {
                        "eq": {
                          "minLength": 1,
                          "type": "string"
                        },
                        "ne": {
                          "minLength": 1,
                          "type": "string"
                        },
                        "in": {
                          "items": {
                            "minLength": 1,
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                },
                "name": {
                  "oneOf": [
                    {
                      "minLength": 1,
                      "type": "string"
                    },
                    {
                      "additionalProperties": false,
                      "properties": {
                        "eq": {
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              },
              "type": "object"
            },
            "required": false,
            "description": "Structured unit filters. Use bracket notation such as filter[code]=IC.",
            "explode": true,
            "style": "deepObject",
            "x-pomi-filters": {
              "version": 1,
              "fields": [
                {
                  "path": [
                    "id"
                  ],
                  "schema": {
                    "type": "integer"
                  },
                  "operators": [
                    "eq",
                    "in"
                  ]
                },
                {
                  "path": [
                    "code"
                  ],
                  "schema": {
                    "minLength": 1,
                    "type": "string"
                  },
                  "operators": [
                    "eq",
                    "ne",
                    "in"
                  ]
                },
                {
                  "path": [
                    "name"
                  ],
                  "schema": {
                    "minLength": 1,
                    "type": "string"
                  },
                  "operators": [
                    "eq"
                  ]
                }
              ],
              "constraints": {
                "maxExpressions": 20,
                "maxDepth": 3,
                "maxParameters": 100
              }
            },
            "name": "filter",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Ordered comma-separated field:direction terms. Earlier terms have higher priority.",
              "example": "code:asc"
            },
            "required": false,
            "description": "Ordered comma-separated field:direction terms. Earlier terms have higher priority.",
            "style": "form",
            "explode": false,
            "x-pomi-sort": {
              "version": 1,
              "fields": [
                "code",
                "name"
              ],
              "default": "code:asc"
            },
            "name": "sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of units retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UnitEntity"
                      }
                    },
                    "quantity": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  },
                  "required": [
                    "data",
                    "quantity",
                    "total",
                    "links"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Dados da requisição inválidos",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestProblem"
                }
              }
            }
          },
          "500": {
            "description": "Não foi possível concluir a ação",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorProblem"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/courses/{id}": {
      "get": {
        "tags": [
          "courses"
        ],
        "operationId": "getCourses",
        "summary": "Consultar disciplina",
        "description": "Retorna a identidade normalizada de uma disciplina pelo identificador POMI.",
        "x-pomi-sdk": {
          "resource": "courses",
          "action": "get",
          "method": "get",
          "pathParameters": {
            "id": "courseId"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Course retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Dados da requisição inválidos",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestProblem"
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFoundProblem"
                }
              }
            }
          },
          "500": {
            "description": "Não foi possível concluir a ação",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorProblem"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/courses": {
      "get": {
        "tags": [
          "courses"
        ],
        "operationId": "listCourses",
        "summary": "Listar disciplinas",
        "description": "Lista identidades normalizadas de disciplinas com filtros, ordenação e paginação.",
        "x-pomi-sdk": {
          "resource": "courses",
          "action": "list",
          "method": "list"
        },
        "x-pomi-pagination": {
          "defaultMode": "all",
          "defaultPageSize": 20,
          "maxPageSize": 1000,
          "allowAll": true
        },
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number. The first page is 1."
            },
            "required": false,
            "description": "Page number. The first page is 1.",
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 1000
                },
                {
                  "type": "string",
                  "enum": [
                    "all"
                  ]
                }
              ],
              "description": "Number of items per page, or \"all\" to return every item."
            },
            "required": false,
            "description": "Number of items per page, or \"all\" to return every item.",
            "name": "pageSize",
            "in": "query"
          },
          {
            "schema": {
              "additionalProperties": false,
              "properties": {
                "catalogYear": {
                  "oneOf": [
                    {
                      "type": "integer"
                    },
                    {
                      "additionalProperties": false,
                      "properties": {
                        "eq": {
                          "type": "integer"
                        },
                        "in": {
                          "items": {
                            "type": "integer"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                },
                "code": {
                  "oneOf": [
                    {
                      "minLength": 1,
                      "type": "string"
                    },
                    {
                      "additionalProperties": false,
                      "properties": {
                        "eq": {
                          "minLength": 1,
                          "type": "string"
                        },
                        "ne": {
                          "minLength": 1,
                          "type": "string"
                        },
                        "in": {
                          "items": {
                            "minLength": 1,
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                },
                "credits": {
                  "oneOf": [
                    {
                      "minimum": 0,
                      "type": "integer"
                    },
                    {
                      "additionalProperties": false,
                      "properties": {
                        "eq": {
                          "minimum": 0,
                          "type": "integer"
                        },
                        "ne": {
                          "minimum": 0,
                          "type": "integer"
                        },
                        "gt": {
                          "minimum": 0,
                          "type": "integer"
                        },
                        "gte": {
                          "minimum": 0,
                          "type": "integer"
                        },
                        "lt": {
                          "minimum": 0,
                          "type": "integer"
                        },
                        "lte": {
                          "minimum": 0,
                          "type": "integer"
                        },
                        "in": {
                          "items": {
                            "minimum": 0,
                            "type": "integer"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                },
                "tagId": {
                  "oneOf": [
                    {
                      "minimum": 1,
                      "type": "integer"
                    },
                    {
                      "additionalProperties": false,
                      "properties": {
                        "eq": {
                          "minimum": 1,
                          "type": "integer"
                        },
                        "in": {
                          "items": {
                            "minimum": 1,
                            "type": "integer"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                },
                "unit": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "oneOf": [
                        {
                          "minLength": 1,
                          "type": "string"
                        },
                        {
                          "additionalProperties": false,
                          "properties": {
                            "eq": {
                              "minLength": 1,
                              "type": "string"
                            },
                            "in": {
                              "items": {
                                "minLength": 1,
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      ]
                    },
                    "id": {
                      "oneOf": [
                        {
                          "minimum": 1,
                          "type": "integer"
                        },
                        {
                          "additionalProperties": false,
                          "properties": {
                            "eq": {
                              "minimum": 1,
                              "type": "integer"
                            },
                            "in": {
                              "items": {
                                "minimum": 1,
                                "type": "integer"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            },
            "required": false,
            "description": "Structured course filters. Use bracket notation such as filter[credits][gte]=4.",
            "explode": true,
            "style": "deepObject",
            "x-pomi-filters": {
              "version": 1,
              "fields": [
                {
                  "path": [
                    "catalogYear"
                  ],
                  "schema": {
                    "type": "integer"
                  },
                  "operators": [
                    "eq",
                    "in"
[...]
